@model AssignedTasksModel;


@{
    ViewData["Title"] = "Assigned Tasks";
}


<div class="container">
    <div class="filter">
        <form method="get" asp-action="GetAssignedTasks">
            <select name="filter" onchange="this.form.submit()" class="filter-select">
                @foreach (StatusFilter filter in Enum.GetValues(typeof(StatusFilter)))
                {
                    <option value="@filter" selected="@(filter == Model.Filter)">
                        @filter
                    </option>
                }
            </select>
        </form>
    </div>
    <h2>Assigned Tasks</h2>
    @if (Model != null && Model.Tasks != null && Model.Tasks.Count > 0)
    {
        @foreach (var task in Model.Tasks)
        {
            <div>
                <strong>@task?.Title</strong> - @task?.Description
                <br />
                Created on: @task?.CreationDateTime.ToString("g")
                <br />
                Due by: @task?.DueDateTime.ToString("g")
                <br />
                Status: @task?.TaskStatus
                <br />
                @foreach (var tag in task?.Tags ?? [])
                {
                    <span class="badge bg-secondary">@tag.Name</span>
                }
                <form asp-action="UpdateTaskStatus" method="post">
                    <input type="hidden" name="TaskId" value="@task?.Id" />
                    <select name="TaskStatus" onchange="this.form.submit()">
                        @foreach (ToDoListTaskStatus status in Enum.GetValues(typeof(ToDoListTaskStatus)))
                        {
                            <option value="@status" selected="@(task?.TaskStatus == status)">
                                @status
                            </option>
                        }
                    </select>
                </form>
                <a href="task?taskId=@task?.Id&listId=-1">View more</a>
            </div>
        }
    }
    else
    {
        <p>Seems like there are no tasks assigned to you!</p>
    }
</div>