@model ListTaskInfoModel;

@{
    ViewData["Title"] = "List Info";
}


<div class="container">
    <a href="/add-task?listId=@Model.ListId" class="btn btn-primary">Add a task</a>
    <h1>@Model.Title</h1>
    <p>List ID: @Model.ListId</p>
    <h2>Tasks</h2>
    @if (Model.Tasks != null && Model.Tasks.Count > 0)
    {
            @foreach (var task in Model.Tasks)
            {
            var isOverdue = task.DueDateTime < DateTime.Now && task.TaskStatus != ToDoListTaskStatus.Completed;
            var rowClass = isOverdue ? "overdue" : "task"; 
            <div class="@rowClass">
                    <strong>@task.Title</strong> - @task.Description
                    <br />
                    Created on: @task.CreationDateTime.ToString("g")
                    <br />
                    Due by: @task.DueDateTime.ToString("g")
                    <br />
                    Status: @task.TaskStatus
                    <br />
                    @foreach (var tag in task.Tags)
                    {
                        <span class="badge bg-secondary">@tag.Name</span>
                    }
                    <a href="task?taskId=@task.Id&listId=@Model.ListId">View more</a>
                    <form asp-action="DeleteTask" method="post" onsubmit="return confirm('Are you sure?');">
                        <input type="hidden" name="taskId" value="@task.Id" />
                        <input type="hidden" name="listId" value="@Model.ListId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            }
    }
</div>